*
{
	padding: 0;
	margin:0 ;
}

body
{
	background:green;
	width: 100%;
	height: 30px;
	text-decoration: none;
	text-align: center;
	font-family: sans-serif;
	border-radius: 30px;
}

header
{
	width: 100%;
	

}
menu  {

	background: #174459;
	border: 1px solid #fff;
	widows: 100%;
	height: 500px;
	text-align: center;
	
	margin-top: 50px;
}

nav{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
}
nav ul{
	list-style: none;
}

nav > ul{

display: table;
overflow: hidden;
width: 100%;
background: black;
color: #fff;
position: relative;
}

nav > ul li{
	display: table-cell;

}


/* submenu */
nav > ul > li:hover > ul{

	display: block;
}
nav > ul > li > ul {
	display: block;
	background: #000;
}


nav > ul > li > ul {
	display: none;
}
nav > ul li a{

	color:#fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


nav > ul > li >  ul >  li a:hover{

	background: green;

}

nav > ul > li > a span{
  background:#174459;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position:absolute;
  top: -55px;
  -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon{

	display: block;
	line-height: 60px;
}
 nav > ul > li > a:hover > span {
	 top:0;
	 color:white;
 }


 /* colores */
nav ul li a .primero{

	background: #0e5061;
	color: #fff;
}
nav ul li a .segundo{

	background:tomato;
}

.boton1:hover {
	background: slateblue;
}
.boton2:hover {
	background: teal;
}


h3
{
	font-size: 50px;
	background:red;
	padding: 30px;
	margin-top: 200px;
}

.boton 
{
	background: red;
	border-radius: 20px;
	padding: 20px;
	margin-left: 250px;
	margin-right: 250px;
	max-height: 1000;   
}

a
{
	text-align: justify-all;
	text-decoration: none;
	color: white;
}

button
{
	background: yellow;
	padding: 30px;
	max-width: 1000;
	margin-left: 200px;
	border-radius: 10px;
	border-top: -100px;
	margin-top: 20px;
}

.botones ul li {
     border-top: 2px;
	 background: black;
	 	 	
}


ul {
	display: table-cell;
}

