*,*::before, *::after{
    box-sizing:border-box;
  }
body{
    font-family: 'Yeon Sung', cursive;
    background-attachment:scroll; 
    background-repeat:no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/2257368/pexels-photo-2257368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'), url('https://images.pexels.com/photos/2257368/pexels-photo-2257368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    
}
.titulo1{   
    opacity: 0.;
    color:black;    
    font-size: 30px;
    text-align: center;
    padding: 20px; 
}
.subtitulo{
    text-align: center;
    opacity: 0.;
    font-size: 30px;
    margin: 10px; 
    padding: 20px;
    color :black;   
}
.submenu{
    text-align: center;
    font-size: 30px;
    margin: 30px; 
    padding: 20px;
    color:black;
}
.parrafo1{
    text-align: left;
    color:black;
    font-size: 20px;
    margin-right: 55%;
    max-width: 1000px;
    max-height: 1000px;
    border: 2px solid ; 
    padding: 40px; 
    overflow: auto;
    opacity: 0.8;
    display: inline block;
}
.parallax{
    padding:5em 0;
     background-image: url('https://images.pexels.com/photos/2250136/pexels-photo-2250136.jpeg?cs=srgb&dl=booklets-brochure-business-2250136.jpg&fm=jpg');
    background-attachment: fixed; 
    text-align: center;
    color:#fff;
    font-size:40px;
    letter-spacing:2em;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:right top;
    text-decoration:underline overline;
  }
.parrafo2{
    text-align: left;
    color:black;
    font-size: 20px;
    margin-left: 55%;
    max-width: 1000px;
    max-height: 1000px;
    margin-bottom:290px;
    border: 2px solid ;     
    padding: 40px; 
    overflow: auto;
    opacity: 0.8;
    display: inline block;
}
.button{
    margin: auto; 
    border-radius: 10px;
    padding: 10px; 
    color:red;
    opacity: 0.8;
    font-size: 20px;
}
.buttons{
    margin: 40px; 
    border-radius: 10px;
    padding: 10px; 
    opacity: 0.8;
    font-size: 35px;
}
.menu{
    margin-right: 500px;
    opacity: 0.8;
    text-align: center;
}
.container-2{
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 100vh;
}
.audio{
    text-align: center;
    opacity: 0.5;
}
/* .maps{
    text-align: center;
     opacity: 1;
    width:100%; 
    height:450px;
    border:0; 
    allowfullscreen
}  */


